body{
    background-color: #fffbf7;
    margin: 0px;
    font-family: 'Alegreya', serif;
}
h1{
    color: #025157;
    font-size: 60px;
    margin-top:0;
    margin-bottom: 24px;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    line-height: 1.2;
}
h4{
    color:#46484c;
    font-weight: 500;
    line-height: 1.2;
    color: #46484c;
font-family: "Slabo 27px", serif;
font-size: 20px;
margin-bottom: 30px;
}
p{
    color:#8b8b8bcc;
}
/* --------------------header------------------------ */
button{
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
    font-size: 18px;
}
.action_button { 
    color:#67b54b;
    font-weight: 500;
}
.action_button button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
    margin-left: 0px;
    
}
header{
    display:flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
}
.header{
    /* margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px; */
    margin: 40px 20px 0px 20px;
    font-size: 18px;
}
.header li{
    display: inline-block;
    margin:0 10px 0 10px;
    color:#025157;
    list-style:none;
    font-weight: 500;
}
ul{
    padding:0px;
}
/* ul{
    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
} */

/* li{
    margin-left: 10px;
    color:#025157;
    list-style:none;
} */
/* --------------------main------------------------ */
main{
    margin-top: 285px;
    display:flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
}
.form01{
    display: flex;
}
.form01 input{
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    font-weight: 400;
    font-size: inherit;
    border-radius: 8px;
}
.form01 button{
    height: 100%;
    border-radius: 8px;
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
    font-size: 18px;
}
main >:last-child{
    vertical-align: middle;
    border-style: none;
    width: 70%;
    margin-top: 10px;
}

/* --------------------Footer------------------------ */
