/* :root{
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fffbf7;
    margin: 0px;
    font-family: 'Alegreya', serif;
}
h1{
    color: #025157;
    font-size: 60px;
    margin-top:0;
    margin-bottom: 24px;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    line-height: 1.2;
}

h4{
    color:#46484c;
    font-weight: 500;
    line-height: 1.2;
    color: #46484c;
font-family: "Slabo 27px", serif;
font-size: 20px;
margin-bottom: 30px;
}
img {
    vertical-align: middle;
    border-style: none;
}
main p{
    color:#8b8b8bcc;
}
.boton{
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -10px;
    font-size: 18px;
    font-weight: 100;
}
/* --------------------header------------------------ */
.fixed-header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    background-color: #fffbf7;
}
.navbar{
    text-align: center;
    font-weight: 500;
    background-color: #fffbf7;
}
/* --------------------main------------------------ */
main{
    margin: 285px 0 20px;
    display:block;
    /* flex-direction: column; */
    text-align:center;
    /* align-items: center; */
}
form {
    height: 55px;
}
input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
}
input, button {
    height: 100%;
    border-radius: 8px;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, select {
    text-transform: none;
}
.imagen img{
    text-align: center;
    width: 70%;
    margin:30px 0;
}
/* --------------------section01------------------------ */
.section01{
    display:flex;
    align-items: center;
    justify-content:center;
    width:70%;
    margin:100px auto;
    font-family: "Open Sans", sans-serif;

   
}
.section01 h3{
    color: #025157;
    font-size: 50px;
    margin-top:0;
    margin-bottom: 24px;
    font-family: 'Alegreya', serif;
    font-weight: 800;
    line-height: 1.2;
}
.vid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}
.publish{
    flex:1;
    padding-left: 20px;
}
.publish p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
/* .formulario{
    display: flex;
    flex-direction: column;
} */
.formulario p{
    color:#8b8b8bcc;
    font-size:inherit;
}
.vid img{
    width: 30%;
   
}
/* --------------------section02------------------------ */
.section02{
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    height: 660px;*/
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    font-family: "Open Sans", sans-serif;
}
.feature-card{
    /* margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px; */
    margin:0 15px 30px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display:flex;
    align-items: center;
    overflow: hidden;
}
.feature-card figure{
    margin: 0 0 1rem;
}
.feature-content{
    padding: 30px 20px 40px 40px;
    flex: 2;
}
.feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
}
.feature-content img{
    width: 80px;
}
.feature-content h3{
    color: #025157;
    font-size: 34px;
    margin-top:0;
    font-weight:400;
}
.feature-content p {
    font-size: 26px;
    color: #7e7e7e;
    font-weight: 400;
}
.feature-content a {
    font-size: 26px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}
.feature-img{
    flex: 1;
    position: relative;
    width: 40%;
    right: -50px;
    height: 80%;
    transition: rigth 1s;;
}
.feature-img:hover{
    right: 0px;
}
.section02 .feature-card .feature-img figure, .section02 .feature-card .feature-img img {
    margin-top: 0;
    height: 100%;
}
/* --------------------section03------------------------ */
.section03 {
    background-color: #a1d683;
}
.section03 button, .section04 button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 6px 20px;
    margin-left: 0;
    font-weight: 500;
    padding: 12px 20px;
}
.container h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    font-weight: 800;
    color: #025157;
}
.container p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.container img {
    width: 500px;
    max-width: 100%;
}
.caja{
    display: flex;
}
.overview{
    flex: 2;
    padding-right: 100px;
    padding-bottom: 35px;
}
.card{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}
.card-media {
    position: relative;
}
.card-media img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-media figure {
    margin: 0;
}
.card .card-media .company {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company img {
    max-width: 75%;
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 20px;
}
.card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}
.card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.results {
    display: flex;
    align-items: center;
    color: #828282;
}
.results img {
    width: 26px;
    margin-right: 20px;
}
.results p {
    margin-top: 0;
}
.card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
    padding: 25px;
}
.card-footer button {
    display: block;
    font-weight: 600;
    width: 100%;
}
/* --------------------Section04------------------------ */
.section04 {
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}
.section04 h2 {
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
}
.description {
    max-width: 60%;
    color: #46484c;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}
.description a {
    color: #67b54b;
    text-decoration: none;
}
.steps {
    margin-top: 70px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template: 1fr / repeat(4, 1fr);
   
}
.card-step {
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin:15px;
    text-align: left;
}
.card-step-image {
    position: relative;
    height: 350px;
}
.card-step-bg {
    width: 100%;
    height: 100%;
}
.card-step-icon {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
}
.card-step-body {
    padding: 25px;
}
.card-step-body h3 {
    font-size:xx-large;
    /* line-height: 36px; */
    font-family: "Open Sans", sans-serif;
    color: #025157;
    font-weight: 700;
    text-align: center;
}
.card-step-body p {
    font-size: medium;
    /* line-height: 1.5; */
    font-family: "Open Sans", sans-serif;
    color: #46484c;
    font-weight: 500;
    /* height: 85px; */
    margin-bottom: 10px;
}
.card-step-body a {
    font-size: medium;
    /* line-height: 1.4; */
    font-family: "Open Sans", sans-serif;
    color: #67b54b;
    font-weight: 700;
    text-decoration: none;
}
.navbar-light .nav-item .nav-link {
    color: #025157;
  }
  .navbar-light .navbar-toggler {
    border-color: #025157;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
/* --------------------Footer------------------------ */
/* --------------------Footer------------------------ */
/* --------------------Footer------------------------ */
@media screen and (max-width:499px) {
   
    h1{
        font-size: 30px;
    }
    
    main{
        margin-top: 130px;
    }
    .imagen{
        display: none;
    }
    .banner > * {
        width: 100%;
    }
    .section01{
        flex-direction: column;
        width: 90%;
    }
    .vid > video{
        width:100%;
    }
    .signup-form input{
        width:60%;
    }
    .publish{
        margin-top: 10px;
    }
    .publish h3{
        font-size: 30px;
        line-height: 1.2;
    }
    .publish .formulario{
        height: 50px;
        margin-top: 10px;
    }   
    .section02{
        grid-template: repeat(4,1fr) / 1fr;
        padding:5% 0;
    }
    .feature-content img{
        width: 60px;
    }
    .feature-content h3{
        color: #025157;
        font-size: 24px;
        margin-top:0;
        font-weight:400;
        
    }
    .feature-content p {
        font-size: 16px;
        color: #7e7e7e;
        font-weight: 400;
    }
    .feature-content a {
        font-size: 16px;
        color: #67b54b;
        font-weight: 600;
        text-decoration: none;
    }
    .feature-img{
        display: none;
    }
    .card-media{
        display: none;
    }
    .overview{
        padding-right: 0px;
    }
    .steps {
        grid-template-columns: 1fr;
    }
}

@media (min-width:500px) and (max-width:1000px){
    
    body{
        background-color: peru;
    }
    
    .section01{
        flex-direction: column;
    }
    .signup-form input{
        width:55%;
    }
    .publish{
        margin-top: 10px;
    } 
    .publish h3{
        font-size: 30px;
        line-height: 1.2;
    }
    .section02{
        grid-template: repeat(4,1fr) / 1fr;
        padding:5% 0;
    }   
    .feature-content img{
        width: 60px;
    }
    .feature-content h3{
        color: #025157;
        font-size: 24px;
        margin-top:0;
        font-weight:400;
        
    }
    .feature-content p {
        font-size: 16px;
        color: #7e7e7e;
        font-weight: 400;
    }
    .feature-content a {
        font-size: 16px;
        color: #67b54b;
        font-weight: 600;
        text-decoration: none;
    } 
    .steps {
grid-template-columns: 1fr 1fr; 
  
}
}
    