/* :root{
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
} */
/*SASS*/
/* --------------------header------------------------ */
/*SASS*/

/* --------------------main------------------------ */
/*SASS*/
/* --------------------section01------------------------ */
/*SASS*/
/* --------------------section02------------------------ */
/*SASS*/
/* --------------------section03------------------------ */
/*SASS*/
/* --------------------Section04------------------------ */
/*SASS*/
/* .section04 .navbar-light .nav-item .nav-link {
    color: #025157;
  } */
/* .section04 .navbar-light .navbar-toggler {
    border-color: #025157;
  } */
/* .section04 .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  } */
/* --------------------Section05------------------------ */
/*SASS*/
/* --------------------section06------------------------ */
/*SASS*/
/* --------------------Section07------------------------ */
/*SASS*/
/* --------------------Footer------------------------ */
/*SASS*/
/* --------------------responsive------------------------ */


/* @media screen and (max-width:499px) {
   
    h1{
        font-size: 30px;
    }
    
    main{
        margin-top: 130px;
    }
    .imagen{
        display: none;
    }
    .banner > * {
        width: 100%;
    }
    .section01{
        flex-direction: column;
        width: 90%;
    }
    .vid > video{
        width:100%;
    }
    .signup-form input{
        width:60%;
    }
    .publish{
        margin-top: 10px;
    }
    .publish h3{
        font-size: 30px;
        line-height: 1.2;
    }
    .publish .formulario{
        height: 50px;
        margin-top: 10px;
    }   
    .section02{
        grid-template: repeat(4,1fr) / 1fr;
        padding:5% 0;
    }
    .feature-content img{
        width: 60px;
    }
    .feature-content h3{
        color: #025157;
        font-size: 24px;
        margin-top:0;
        font-weight:400;
        
    }
    .feature-content p {
        font-size: 16px;
        color: #7e7e7e;
        font-weight: 400;
    }
    .feature-content a {
        font-size: 16px;
        color: #67b54b;
        font-weight: 600;
        text-decoration: none;
    }
    .feature-img{
        display: none;
    }
    .card-media{
        display: none;
    }
    .overview{
        padding-right: 0px;
    }
    .section04 .steps {
        grid-template-columns: 1fr;
    }
    .section05 .col-sm{
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .home-people {
        display: none;
        }
    .text-p{
        display: none;
    }
    .ocultar{
        display: none;
    }
    .col-sm{
        padding: 0px;
    }
    .col{
        padding-bottom: 19px;
    }
    .section07 form input{
        padding: 5px;
        width: 50%;
    }
    .section08 .row{
        text-align: left;
    }
} */

/* @media (min-width:500px) and (max-width:1000px){
    
    body{
        background-color: peru;
    }
    
    .section01{
        flex-direction: column;
    }
    .signup-form input{
        width:55%;
    }
    .publish{
        margin-top: 10px;
    } 
    .publish h3{
        font-size: 30px;
        line-height: 1.2;
    }
    .section02{
        grid-template: repeat(4,1fr) / 1fr;
        padding:5% 0;
    }   
    .feature-content img{
        width: 60px;
    }
    .feature-content h3{
        color: #025157;
        font-size: 24px;
        margin-top:0;
        font-weight:400;
        
    }
    .feature-content p {
        font-size: 16px;
        color: #7e7e7e;
        font-weight: 400;
    }
    .feature-content a {
        font-size: 16px;
        color: #67b54b;
        font-weight: 600;
        text-decoration: none;
    } 
    .steps {
    grid-template-columns: 1fr; 
    }
    .section05 .col-sm{
        padding-top: 5px;
        padding-bottom: 15px;
    }
    .home-people {
    display: none;
    }
    .text-p{
        display: none;
    }
} */
    